<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/1999/REC-html401-19991224/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<title>{$asunto}</title>
	</head>
	<body style="-webkit-text-size-adjust:none;background-color:#fff;width:650px;font-family:Open-sans, sans-serif;color:#555454;font-size:13px;line-height:18px;margin:auto" >
            <h2>Hi {firstname} {lastname}</h2>        
            <div>
                <p>We have registered your last order with id {order}</p>
                <p>Your spending in our store has reached {totalamount} {currency}</p>
            </div>
            <div>
                <h3>Congratulations!</h3> 
                <h4>Your purchases have generated a discount coupon!</h4>
                <p>We give you your new discount coupon that you can use in our store</p>
                <p>Discount code: {coupon}</p>
                <p>Discount amount: {money} {currency}</p>
            </div>
	</body>
</html>